@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-bdy, .product-body {
    background: url(../Images/BG.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.welcome-text img {
    width: 500px;
}

.welcome-text p {
    color: #222;
    font-size: 25px;
    background: rgba(255, 255, 224, 1);
    padding: 5px;
    border-radius: 4px;
    font-family: "Roboto", "Arial", sans-serif;
}

.h2, h2 {
    color: black;
    font-size: 51px;
    font-family: "Roboto", "Arial", sans-serif;
}

.display-4 {
    color: black;
    font-size: 3.5rem;
    font-family: "Roboto", "Arial", sans-serif;
}

.New-btn {
    color: whitesmoke;
    background-color: cornflowerblue;
}

.New-btn:hover {
    background-color: blue;
}

.nav-item {
    font-family: "Roboto", "Arial", sans-serif;
}

.nav-item:hover {
    color: gold;
}

.navbar-light .navbar-brand {
    font-family: "Roboto", "Arial", sans-serif;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

h1 {
    font-family: "Roboto", "Arial", sans-serif;
    background: rgba(255, 255, 224, 1);
}