@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng tới Vương Quốc Đồ Chơi</h1>
    <br>
    <section class="welcome-text d-flex jusify-content-center align-items-center flex-column mt-5">
        <img src="~/Images/logo.jpg" alt="Logo web"> <br>
        <p>Trang web chuyên bán các loại đồ chơi cho trẻ em</p>
    </section>
</div>
